* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: flex;
  /* width: 850px; */
  align-items: center;
  justify-content: space-between;
  margin-bottom: 90px;
  padding: 20px;
}

header a {
  text-decoration: none;
}

.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  line-height: 1.5;
  background-color: #b73dc7;
  color: white;
  border-radius: 5px;
}

.main h1 {
  font-size: 42px;
  margin-bottom: 20px;
}

.main p {
  margin-bottom: 15px;
}

.main button {
  cursor: pointer;
  border: none;
  background-color: none;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
}

.main button:hover {
  background-color: #aaa;
}

/* for hidden section */
.hidden {
  display: none;
}

.question-section {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

  line-height: 1.5;
}

.question-title {
  font-size: 22px;
  font-weight: 600;
}

.list-answers {
  font-size: 12px;
}

.btn-answer {
  margin-top: 8px;
  display: block;
  border: none;
  border-radius: 2px;
  background-color: #aaa;
  padding: 5px;
}

.btn-answer:hover {
  background-color: #b73dc7;
}

.question-section {
  width: 600px;
  /* background-color: rgb(236, 232, 232); */
  border-radius: 5px;
}

#form-done {
  width: 600px;
  margin: 0 auto;
  line-height: 1.5;
}

#highscore-section {
  width: 600px;
  margin: 0 auto;
  line-height: 1.5;
}

@media (max-width: 805px) {
  .header {
    width: 600px;
  }
  .main {
    max-width: 600px;
  }
}

@media (max-width: 620px) {
  .header {
    width: 400px;
  }
  .main {
    max-width: 400px;
  }

  .main h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }

  .main p {
    margin-bottom: 10px;
    font-size: 14px;
  }

  .main button {
    font-size: 16px;
  }

  #question-section,
  #form-done,
  #highscore-section {
    width: 400px;
  }
}
