* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  width: 1200px;
  margin: 0 auto;
}

header {
  width: 800px;
  margin: 0 auto;
  margin-bottom: 80px;
  padding: 20px;
}

header a {
  text-decoration: none;
  cursor: pointer;
}

.nav-container {
  /* width: 800px; */
  display: flex;
  justify-content: space-between;
}

.main {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 20px;
  text-align: center;
  line-height: 1.5;
  background-color: rgb(183, 61, 199);
  color: white;
  border-radius: 5px;
}

.main h1 {
  font-size: 42px;
  margin-bottom: 20px;
}

.main p {
  margin-bottom: 15px;
  padding: 0 50px;
}

/* set all button */
.btn {
  cursor: pointer;
  border: none;
  /* color: white; */
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
}

/* start button */
.main .btn {
  font-size: 16px;
}

.btn:hover {
  background-color: rgb(213, 109, 226);
}

/* for hidden section */
.hidden {
  display: none;
}

#sub-container {
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.5;

  padding: 20px 20px 40px 70px;
}

/* .question-section {
  padding: 20px;
} */

.question-title {
  font-size: 22px;
  font-weight: 600;
}

.list-answers {
  font-size: 12px;
  padding-bottom: 20px;
}

/* answer button */
.btn-answer {
  cursor: pointer;
  margin-top: 8px;
  display: block;
  border: none;
  border-radius: 5px;
  background-color: #a75bb1;
  padding: 7px;
  color: white;
}

.btn-answer:hover {
  background-color: #9a1eaa;
}

/* .initial-label {
  display: inline-block;
} */
#initial-section {
  display: flex;
  gap: 10px;
}

#go-back {
  margin-right: 10px;
}

/* .question-section {
  width: 600px;
   background-color: rgb(236, 232, 232); 
  border-radius: 5px;
} */

/* #form-done {
  width: 600px;
  margin: 0 auto;
  line-height: 1.5;
}

#highscore-section {
  width: 600px;
  margin: 0 auto;
  line-height: 1.5;
} */

@media (max-width: 805px) {
  .main,
  .header {
    width: 600px;
  }
}

@media (max-width: 620px) {
  body {
    width: 800px;
  }

  .main,
  .header {
    width: 400px;
  }

  .main h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }

  .main p {
    margin-bottom: 10px;
    font-size: 14px;
  }

  .main button {
    font-size: 16px;
  }

  /* #question-section,
  #form-done,
  #highscore-section {
    width: 400px;
  } */
}
